@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --gray: #667085;
    --dark-red: #8E2424;
    --black: #101828;
}

/* RESET */
* {
    box-sizing:  border-box;
    margin: 0;
}

html, body {
    height: 100%;
}
img {
    display: block;
    max-width: 100%;
}

button, input {
    font: inherit;
}

/*** GLOBAL ***/
html {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.m-bt1 { margin-bottom: 1rem; }
.m-bt2 { margin-bottom: 2rem; }

/*** GLOBAL - TYP ***/

.font-w-400 { font-weight: 400; }
.font-w-500 { font-weight: 500; }
.font-w-600 { font-weight: 600; }
.font-s-14 { font-size: 0.875rem; }
.font-s-16 { font-size: 1rem; }
.font-s-18 { font-size: 1.125rem; }
.font-s-20 { font-size: 1.25rem; }
.font-s-36 { font-size: 2.25rem; }
.font-s-48 { font-size: 3rem; }
.font-s-60 { font-size: 3.75rem; }


/*** GLOBAL - BUTTONS ***/
.button {
    padding: 0.6rem 1.1rem;
    transition: .5s;
    border-radius: .5rem;
    border: none;
}

.button--white {
    background-color: inherit;
}

.button--red {
    background-color: var(--dark-red);
    color: #fff;
}

/*** GLOBAL CLORS ***/

.c-black { color: var(--black) }
.c-gray { color: var(--gray) }
.c-red { color: var(--dark-red) }

/*** HEADER ***/

.header {
    display: flex;
    align-items: center;
    padding: 1.5rem 10rem;
    gap: 5rem;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__menu {
    flex-grow: 2;
}

.header__menu__nav {
    gap: 2rem;
}

.header__menu__nav__item {
    text-decoration: none;
    color: var(--gray);
}

.header__menu__nav__item:hover {
    color: var(--dark-red);
}

/*** CONTENT ***/

.content {
    display: grid;
    justify-content: center;
}

.about-us {
    text-align: center;
    padding: 6rem 20rem;
}

.about-us__text {
    display: inline-block;
    max-width: 49rem;
}

.metrics {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 7.5rem;
}

.metrics__title {
    padding-bottom: 0.5rem;
}

.metrics__title--number {
    padding-bottom: 0.5rem;
    line-height: 4.5rem;
    color: var(--dark-red);
    display: block;
}

.metrics__text {
    line-height: 1.5rem;
    max-width: 17.5rem;
}


/*



.metricas-secao p {
    line-height: 1.5rem;
    max-width: 17.5rem;
}

.vagas {
    display: grid;
    justify-content: center;
    margin-bottom: 6rem;
}

.vagas header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 4rem;
}

.vagas header h2 {
    background: rgba(142, 36, 36, 0.05);
    font-size: 0.875rem;
    color: var(--dark-red);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
}

.vagas header h3 {
    font-size: 2.25rem;
    font-weight: 600;
}

.vagas header p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray);
}

.vagas-abertas {
    justify-self: center;
}

.vagas-abertas h2 {
    font-size: 1.25rem;
    margin: 4rem 0 2rem 0;
}

.vaga-aberta {
    border: 1px solid #EAECF0;
    border-radius: 1rem;
    padding: 1.5rem 30rem 1.75rem  1.5rem;
    margin-top: 1.5rem;
}

.vaga-aberta p {
    font-size: 1.13rem;
    margin-bottom: 2rem;
}

.vaga-aberta ul {
    color: var(--gray);
    gap: 1.5rem;
    font-weight: 500;
}

.depoimentos {
    background-color: rgba(142, 36, 36, 0.05);
    text-align: center;
    padding: 4rem;
    min-width: 1216px;
    justify-self: center;
    border-radius: 1rem;
    margin-bottom: 6rem;
}

.depoimentos h2 {
    color: var(--dark-red);
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.depoimento {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    max-width: 1088px;
    padding-bottom: 2rem;
}

.depoimentos img {
    margin: 0 auto;
    max-width: 3.5rem;
    margin-bottom: 1rem;
}

.colaboradora-nome {
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.colaboradora-funcao {
    font-size: 0.875rem;
    color: var(--gray);
}

.cadastro {
    justify-self: center;
    text-align: center;
    background-color: #F9FAFB;
    min-width: 100vw;
    padding: 6rem;
}

.cadastro h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.cadastro p {
    font-size: 1.25rem;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.cadastro input {
    border: 1px solid #D0D5DD;
    padding: 0.75rem 0.875rem 0.75rem 1rem;
    margin: 0 1rem 2rem 0;
    border-radius: 0.5rem;
    min-width: 22.5rem;
}

.cadastro button {
    background-color: var(--dark-red);
    color: #fff;
    border: 1px solid var(--dark-red);
    border-radius: 0.5rem;
}

.cadastro span {
    font-weight: 400;
    color: #98A2B3;
}
*/